@use "../../sass/abstracts/abstracts" as abs;

.opinion1 {
  display: inline-block;
  position: absolute;
  left: 925px;
  top: 240px;
  padding: 5px;
  z-index: 2;
  width: 240px;
  background-color: rgba(209, 232, 227, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;

   img{
    width: 15px;
    margin: 0;}

  & p {
    font-size: 12px;
    margin: 0px;
  }

  span {
    font-size: 12px;
    color: abs.$blue;
    font-weight: 600;
  }
}

.opinion2 {
  display: inline-block;
  position: absolute;
  left: 830px;
  top: 425px;
  padding: 5px;
  margin: 0;
  z-index: 3;
  width: 235px;
  background-color: rgba(209, 232, 227, 0.5);
  backdrop-filter: blur(5px);

  border-radius: 10px;
 
  img {
    width: 15px;
    margin: 0;
  }

  & p {
    font-size: 12px;
    padding: 0;
    margin: 0px;
  }
  span {
    font-size: 12px;
    color: abs.$blue;
    font-weight: 600;
  }
}
